*{
    font-family:'Times New Roman', Times, serif;
}

body{
    margin: 0;
    height: 90vh;
    padding-top: 10vh;
    background-image: url("background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70%;
    max-width: 400px;
    min-height: 70vh;
    border-radius: 0.75rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2)
}

.container h2{
    padding: 1.25rem 0 0.75rem 0;
    text-align: center;
}


.btn{
    background-color: #0d6efd;
    margin: 1.5rem 0 0 0.5rem;
    width: 95%;
    box-shadow: 0 2px 4px rgba(0, 0, 100, 1);
    color: white;
}

.btn:hover{
    background-color: #0b5ed7;
}

.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.container .option{
    margin-top: 0.25rem;
    padding: 0.5rem;
}

.container .form-check{
    margin-left: 0.75rem;
}

p{
   margin-top: 1.75rem;
   text-align: center;
}

p a{
    text-decoration: none;
    color: #0d6efd;
    font-weight: 500;
}

p a:hover{
    text-decoration: underline;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon a i{
    font-size: 1.25rem;
    color: #fff;
    margin: 0.25rem;
    opacity: 0.7;
}

.icon a i:hover{
    opacity: 1;
}

.icon a i.fa-google{
    color: #db4437;
}

.icon a i.fa-facebook{
    color: #1877f2;
}

.icon a i.fa-twitter{
    color: #1da1f2;
}

@media (max-width: 576px){
    .container{
        width: 90%;
        min-height: auto;
        padding-bottom: 1rem;
    }
}